@import '../../../styles/responsiveSize';


.cards-section {
    background-color: green;
    /* height: 50vh; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    
}