@import '../../../styles/colors.scss';
@import '../../../styles/_responsiveSize.scss';

.H1 {
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
color: white
}