
$Title:Black;
$Letters:Black;
$SubTitle:#717171;


$colorButton: white;
$bgButton:rgba(0, 0, 0, 0.6);;
$bgButtonHover:rgba(107, 99, 181, 0.6);;
$bgButtonStaff:#6B63B5;
$borderButton: $bgButtonStaff

